<launch>
    <arg name="name" />

    <!-- ptp_comms -->
    <include file="$(find ptp_comms)/launch/node.launch">
        <arg name="name" value="$(arg name)"/>
    </include>

    <!-- exchange_graphs -->
    <node pkg="exchange_graphs" type="exchange_graphs_node-X1" name="exchange_graphs_node-X1" output="screen" ns="$(arg name)"/>
</launch>
